.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid transparent;
    background-color: #4169E1;
    cursor: pointer;


    @media (min-width: 1200px) {
        &:hover {
            background-color: #7f9cf3;
        }
    }

    &[disabled] {
        background-color: #CDCCCC;
    }


}