.button {
    background-color: #ffffff;
    border: 1px solid #4169E1;
    padding: 15px 25px;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    color: #4169E1;
    border-radius: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    z-index: 2;
    overflow: hidden;
    transition: all .4s;

    &::before {
        content: "";
        height: 100%;
        width: 0px;
        background-color: #4169E1;
        position: absolute;
        top: 0;
        left: 50%;
        z-index: -1;
        transition: all .3s;
    }

    &:hover.button::before {
        width: 100%;
        left: 0;
    }

    &:hover {
        color: #ffffff;
    }

    &:active {
        transform: scale(0.96);
    }

    &__icon {
        height: 2rem;
        margin-right: 2rem;
    }
}