.button {
    padding: 10px 30px;
    min-width: fit-content;
    height: 61px;
    background: #FFFFFF;
    border-radius: 40px;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: #000000;
    border: 1px solid #ffffff;
    outline: none;
    overflow: hidden;
    position: relative;
    z-index: 2;
    transition: all .2s;
    cursor: pointer;

    &::before {
        content: "";
        height: 100%;
        width: 0px;
        background-color: #4169E1;
        position: absolute;
        top: 0;
        left: 50%;
        z-index: -1;
        transition: all .4s;
    }

    &:hover.button::before {
        width: 100%;
        left: 0;
    }

    &:hover {
        color: #ffffff;

    }

    &:active {
        transform: scale(0.98);
    }

    &__inverted {
        padding: 10px 30px;
        min-width: fit-content;
        height: 61px;
        background: #4169E1;
        border-radius: 40px;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 2.9rem;
        color: #ffffff;
        border: 1px solid #4169E1;
        outline: none;
        overflow: hidden;
        position: relative;
        z-index: 2;
        transition: all .2s;
        cursor: pointer;

        &::before {
            content: "";
            height: 100%;
            width: 0px;
            background-color: #ffffff;
            position: absolute;
            top: 0;
            left: 50%;
            z-index: -1;
            transition: all .4s;
        }

        &:hover.button__inverted::before {
            width: 100%;
            left: 0;
        }

        &:hover {
            color: #000000;

        }

        &:active {
            transform: scale(0.98);
        }
    }
}